[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "shell/plugins/gitstatus"]
	path = shell/plugins/gitstatus
	url = git@github.com:romkatv/gitstatus.git
